
/* MUDANÇA DE VARIÁVEIS */
:root {
    --body-bg: #FFFFFF;
    --body-color: #363636;
    --body-link: blue;
    --nav-bg: rgb(232 232 237/70%);
    --nav-color: #363636;
    --foot-bg: url(img/Untitled-1.svg);
    --foot-icon: invert(0);
}

.noturno:root {
    --body-bg: #1B1B1B;
    --body-color: #FFFFFF;
    --body-link: rgb(21, 105, 0);
    --nav-bg: rgba(32, 32, 32, 70%);
    --nav-color: #FFFFFF;
    --foot-bg: url(img/Untitled-1.svg);
    --foot-icon: invert(1);
}
/* FIM DA MUDANÇA DE VARIÁVEIS */







































header {
    background-color: var(--nav-bg);
    border: grey;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(5px);
    color: var(--nav-color);
}

.nav-bar {
    display: flex;
    padding: 14px 4%;
    justify-content: space-between;
}

.logo {
 display: flex;
}

.logo h1 {
    color: var(--body-color);
    font-size: 24px;
    margin: 7px 0px 0px 7px;
 
}
.diz{
    color: #FFED03;
}  
.logo img{
    width: 50px;
    height: 50px;
}

.nav-list {
   
    padding: 0 10px 0 0;
}

.nav-list ul {
    display:flex;
    gap: 30px;
    list-style: none;
}


.nav-link {
    color: var(--body-color);
}

.nav-sol{
    font-size: 1.15rem;
    color: var(--body-color);
    font-weight: 400;
    cursor: pointer;
    font-size: 26pt;
    position: absolute;
    top: 4px;
    color: var(--body-color);
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}
.element.style{
    cursor: pointer;
    font-size: 26pt;
    position: absolute;
    top: 4px;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    background-color: var(--body-bg);
    color: var(--body-color);
}



main {
    max-width: 800px;
    margin: 2rem auto;
    padding: 0 1rem;
    background-color: var(--body-bg);
    border-radius: 8px;
    box-shadow: 0 0 10px var(--body-color);
}

.perfil {
    text-align: justify;
    
}
.perfilp{
    text-align: justify;
    margin-left: 3%;
    
}
.btnsbr{
    display: flex;
}
.botoes{
    margin: 0;
}
.btneditar{
    width: 116px;
    height: 40px;
    margin: 3%;
    margin-top: 17%;
    color: white;
    background-color: #2d2d83;
    border-radius: 7px;
    border: 0;
}

.btnpost{
    width: 116px;
    height: 40px;
    margin: 3%;
    color: white;
    background-color: #2d2d83;
    border-radius: 7px;
    border: 0;
}

.btnlive{
    width: 116px;
    height: 40px;
    margin: 3%;
    color: white;
    background-color: #2d2d83;
    border-radius: 7px;
    border: 0;
}
.foto-perfil {
    padding: 3%;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    
}
.fotoebio{
    display: flex;
}
.tb{
  text-align: left;
  margin-left: %;
}
.bio {
    font-size: 1.1rem;
    color:var(--body-color);
    margin: 1rem 0;
    display: flex;
    
}

.posts {
    padding: 1rem 0;
}

.posts h3 {
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

.post {
    margin-bottom: 2rem;
}

.carousel {
    position: relative;
}

.carousel-inner {
    display: flex;
    overflow: hidden;
    border-radius: 8px;
}

.carousel-image {
    min-width: 100%;
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
}

.prev, .next {

    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    background-color: transparent;
    border: 0;
    color: #FFFFFF;
    font-size: 25px;

}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.post-image {
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
}

.post p {
    margin-top: 0.5rem;
    font-size: 1rem;
    color:var(--body-color);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}





































/* RODAPÉ */
footer{
    display: block;
    background-color: var(--body-color);
    border: grey;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(5px);
    color: var(--body-bg);
}

.bg_footer{
    background-image: var(--body-color);
    background-size: 500px;
    filter: var(--foot-icon);

}

ul.foot {
    list-style-type: none;
}


ul.foot li {
    float: right;
    
}
/*lista do footer*/
.listafooter ul{
    display: flex;
}
.listafooter li{
    display: block;
    padding: 5px;
    margin:5px;
}
.listafooter{
    display: flex;
    align-items:center; 
    height: 400px;
    background-color: var(--body-color);
}

.listafooter h1{
    margin-top: 30px
}

.listafooter p{
    font-size: 19px;
    text-align:start;
}

.listafooter div{
    align-items: center;

}
/* FIM DO RODAPÉ */






















































@media screen and (max-width: 924px) {
    .nav{
        width: 100%;
    }
    .nav-bar {
        padding: 5px 0px 0px 20px;
        width: 100%;
    }
    .nav-item {
        display: none;
    }
    .login-button {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
        margin: -20px 0 0px -8px;
    }
    .mobile-menu-icon button {
        background-color: var(--body-color);
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: math;
        flex-direction: column;
        text-align:start;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .open {
        display: flex;
    }






















/*lista do footer*/
.listafooter ul{
    display: block;
    background-color: var(--nav-color);
}
.listafooter li{
    display: block;
    padding: 5px;
    margin:5px;
}

.listafooter h1{
    margin-top: 30px
}

.listafooter p{
    font-size: 19px;
    text-align:start;
}

.listafooter sectio{
    align-items: center;

}
/* FIM DO RODAPÉ */

}