@import "global.css";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



:root{
    --cor1:  #000000;
    --cor2:  #ffffff;
    --cor3: #000000;
    --cor4:   #f59a23;
    --cor5: #2d2e83;
   
}
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor2);
    color: var(--cor3);
}
.img_logo_header{
    width: 55px;
}
.header,
.navigation_header{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header{
    background-color: var(--cor2);
    justify-content: space-between;
    padding: 0 10%;
    height: 3.5em;
    height: 65px;
 
    box-shadow: 0px 10px 1px var(--cor5);
 
}
.navigation_header{
    gap: 3em;
    z-index: 2;
}
.content{
    padding-top: 5em;
    text-align: center;
    height: 100vh;
    transition: 1s;
}
.navigation_header a{
    text-decoration: none;
    color: var(--cor1);
    transition: 1s;
    font-weight: bold;
}
.navigation_header a:hover{
    color: var(--cor4);
}
.btn_icon_header{
    background: transparent;
    border: none;
    color: var(--cor1);
    cursor: pointer;
    display: none;
}
@media screen and (max-width: 780px) {
    .navigation_header{
        position: absolute;
        flex-direction: column !important;
        top: 0;
        background: var(--cor2);
        height: 100%;
        width: 35vw;
        padding: 1em;
        animation-duration: 1s;
        margin-left: -100vw;
    }
    .btn_icon_header{
        display: block;
    }
}
@keyframes showSidebar {
    from {margin-left: -100vw;}
    to {margin-left: -10vw;}
}

.container1 {
    text-align: center;
      background-color: #f0f0f0;
      padding: 20px;
      border: 10px solid var(--cor5);
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      margin: 200px;
      padding-top: 100px;
      padding-bottom: 100px;
      border-radius: 40px;
    
}
.button{
    text-decoration: none;
    margin-top: 20px;
    background-color: var(--cor4);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 15px;

}
