@import "global.css";
#profile p.name {
    display: block;
    margin: auto;
    padding: 0px 20px;
    text-align: center;
    font-size: 16pt;
    font-weight: bold;
    margin-bottom: 40px;
}

#profile .row {
    display: block;
    margin: 10px 30px;
    padding: 10px 15px;
    background-color: #CCC;
   
}

#profile div.menu {
    position: absolute;
    bottom: 0;
    width: 25%;
}

#profile div.menu button{
    display: block;
    margin: auto;
    width: 90%;
    border: none;
    border-top: 1px solid #CCC;
    font-size: 16pt;
    background: transparent url(./x.png) no-repeat scroll 10px 17px;
    background-size: 30px;
    padding: 15px 0px;
    text-align: right;
}
#profile .perfilfoto {
    
    width: 100px;
    height: 100px;
    margin-left: 130px;
    
}
#container .h1{ 
    display: block;
    margin: auto;
    padding-left: 130px;
    text-align: center;
    font-size: 16pt;
    font-weight: bold;
    margin-bottom: 40px;
}
