<footer> 



    <ul class="foot">
       <li class="bg_footer" style="background-position: -8px -16px;"><a href="#"></a></li>
       <li class="bg_footer" style="background-position: -7px 104px;"><a href="#"></a></li>
       <li class="bg_footer" style="background-position: -4px 139px;"><a href="#"></a></li>
       <li class="bg_footer" style="background-position: -8px 176px;"><a href="#"></a></li>
       <li class="bg_footer" style="background-position: -59px 140px;"><a href="#"></a></li>
    </ul>
    
    
    <section class="listafooter">
       <ul>
           <li>
           <h1>DEUS É BOM</h1>
           <p>
               Participe do SuperChat do Polidez para enviar perguntas aos can.
               Não perca a oportunidade de fazer sua voz ser ouvida e influenciar o rumo da política em sua comunidade!</p>    
       </li>
    
       <li>
           <h1>COISA LEGAL</h1>
           <p>
               Participe do SuperChat do Polidez para enviar perguntas aos candidatos em debates ao vivo. 
               Esta função interativa permite que os cidadãos a comunidade!</p>    
       </li>
    
       <li>
           <h1>UM TÍTULO</h1>
           <p>
               Participe do SuperChat do Polidez para enviar perguntas aos candidatos em debates ao vivo. 
               Esta função interolítica em sua comunidade!</p>    
       </li>
    <li>
       <h1>UM NEGÓCIO</h1>
       <p>
           Participe do SuperChat do Polidez para enviar perguntas aos candidatos em debates ao vivo. 
           Esta função interolítica em sua comunidade!</p>    
    </li>
    
       </ul>    
    </section>    
    
    </footer>