@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif; 
}

body{
    display: grid;
    padding: 20px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../imagem/45b56590-17bf-4e4f-a1cc-163ddc132181.jpg');
    backdrop-filter: blur(4px);
    background-size: cover;
    background-position: center;
}

.container_2{
    width: 420px;
    background: rgba(255, 255, 255, 0.5);
    border: 2px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: black;
    border-radius: 10px;
    padding: 30px 40px;
}
.container_2 label {
    color: black;
}
.container_2 .campos {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: black;
    padding: 20px 45px 20px 20px;
}

legend{
    color: black;
    font-size: large;
}
.formfoto{
  
}
.formfoto .campos{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: black;
    padding: 20px 45px 20px 20px;
}
#desc_usuario{
    min-height: 120px;
    min-width: 100%;
    margin: 30px 0 25px 0;
    padding: 10px;
    font-size: 18px;
    resize: none;
    border-radius: 10px;
}
.botao{
    width: 100%;
    height: 45px;
    background: #FFED03;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}