@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:url('../imagem/fundologin.jpg');
    backdrop-filter: blur(4px);
    background-size: cover;
    background-position: center;
}

.container {
    width: 50%;
    height: 70vh;
    display: flex;
    border-radius: 10px;

}

.title{
    position: fixed;
    text-align: top;
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: 320px;
    margin-right: 25px;
}

.form-image1 {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem;
    width: 50%;
    display: flex;
    align-items: center;
    padding: 20px;

    
}

img {
    filter: opacity(0.4) drop-shadow(0 0 0 red);
}


.politico-button{
    border: none;
    background-color: #FFED03;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    border: none;
    margin-top: 15px;
    color: black;
    cursor: pointer;

}

.politico-button a{
    text-decoration: none;
}

.form-image1 img{
    width: 10rem;
}

.form-image2 {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem;
    width: 50%;
    display: flex;
    align-items: center;
    padding: 20px;
}

.form-image2 img{
    width: 10rem;
}

.cliente-button{
    border: none;
    background-color: #FFED03;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    border: none;
    margin-top: 15px;
    color: black;
    cursor: pointer;

}

.cliente-button a{
    text-decoration: none;
}

@media(max-width:930px){
    .img-box{
        display: none;
    }
    .box{
        width: 700px;
    }
    .form-box{
        width: 100%;
        border-radius: 20px;
    }

}
@media (max-width:500px){
    .w50{
        width: 100%;
        padding: 0;
    }
}
