@import url(https://fonts.google.com/specimen/Poppins);

/* MUDANÇA DE VARIÁVEIS */

:root {
    --body-bg: #FFFFFF;
    --body-color: #363636;
    --body-link: blue;
    --nav-bg: rgb(232 232 237/70%);
    --nav-color: #363636;
    --foot-bg: url(img/Untitled-1.svg);
    --foot-icon: invert(0);
}

.noturno:root {
    --body-bg: #1B1B1B;
    --body-color: #FFFFFF;
    --body-link: rgb(21, 105, 0);
    --nav-bg: rgba(32, 32, 32, 70%);
    --nav-color: #FFFFFF;
    --foot-bg: url(img/Untitled-1.svg);
    --foot-icon: invert(1);
}
/* FIM DA MUDANÇA DE VARIÁVEIS */


/* NAVEGAÇÃO MENU */

/*FIM LOGO TIPOGRAFIA*/   
/* FIM NAVEGAÇÃO MENU */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--body-bg);
    color: var(--body-color);
}

.titulo {
    margin-top: 73px;
    padding: 20px;
    text-align: center;
    color: var(--body-color);
    font-size: 30px;
}
ul.noticias{
    list-style-type: none;
    margin: 0;
    padding: 0;
    vertical-align: top;
    display: flex;
    flex-wrap: wrap;
}

#noticias-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.noticia {
    background-color: var(--body-bg);
    padding: 20px;
    margin-bottom: 20px;
    max-width: 300px;
    border-radius: 5px;
    box-shadow: 0 2px 4px var(--body-color)(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    margin: 10px;
}

.noticia.expandida {
    width: 100%;
    max-width: none;
}

.noticia:hover {
    transform: translateY(-5px);
}

.noticia img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.noticia h2 {
    margin-top: 0;
    color: var(--body-color);
}

.noticia p {
    margin-bottom: 20px;
}

