@import url(https://fonts.google.com/specimen/Poppins);

/* MUDANÇA DE VARIÁVEIS */

:root {
    --body-bg: #FFFFFF;
    --body-color: #363636;
    --body-link: blue;
    --nav-bg: rgb(232 232 237/70%);
    --nav-color: #363636;
    --foot-bg: url(img/Untitled-1.svg);
    --foot-icon: invert(0);
}

.noturno:root {
    --body-bg: #1B1B1B;
    --body-color: #FFFFFF;
    --body-link: rgb(21, 105, 0);
    --nav-bg: rgba(32, 32, 32, 70%);
    --nav-color: #FFFFFF;
    --foot-bg: url(img/Untitled-1.svg);
    --foot-icon: invert(1);
}
/* FIM DA MUDANÇA DE VARIÁVEIS */
header {
    width: 100%;
    position: center;
    background-color: var(--nav-bg);
    border: grey;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(5px);
    color: var(--nav-color);
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    color: var(--body-color);
    font-size: 24px;
 
}
.diz{
    color: #FFED03;
}  
.logo img{
    width: 50px;
    padding:10%;
}

.nav-list {
    display: flex;
    align-items: center;
    
}

.nav-list ul {
    display:flex;
    justify-content: center;
    list-style: none;
    margin-right: 30px;
}

.nav-item {
    margin: 0 30px;
    justify-content: center;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: var(--body-color);
    font-weight: 400;
}
.nav-sol{
    justify-content: center;
    text-decoration: none;
    font-size: 1.15rem;
    color: var(--body-color);
    font-weight: 400;
    cursor: pointer;
    font-size: 26pt;
    position: absolute;
    top: 4px;
    color: var(--body-color);
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}
.element.style{
    cursor: pointer;
    font-size: 26pt;
    position: absolute;
    top: 4px;
}



/* NAVEGAÇÃO MENU */

/*FIM LOGO TIPOGRAFIA*/   
/* FIM NAVEGAÇÃO MENU */









body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--body-bg);
    color: var(--body-color);
}

.titulo {
    margin-top: 15px;
    padding: 20px;
    text-align: center;
    color: black;
}
ul.noticias{
    list-style-type: none;
    margin: 0;
    padding: 0;
    vertical-align: top;
    display: flex;
}

#noticias-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.noticia {
    background-color: var(--body-bg);
    padding: 20px;
    margin-bottom: 20px;
    max-width: 600px;
    border-radius: 5px;
    box-shadow: 0 2px 4px var(--body-color)(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    margin: 10px;
}

.noticia.expandida {
    width: 100%;
    max-width: none;
}

.noticia:hover {
    transform: translateY(-5px);
}

.noticia img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.noticia h2 {
    margin-top: 0;
    color: var(--body-color);
}

.noticia p {
    margin-bottom: 20px;
}

footer{
    display: block;
    background-color: var(--body-color);
    border: grey;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(5px);
    color: var(--body-bg);
}

.bg_footer{
    background-image: var(--body-color);
    background-size: 500px;
    filter: var(--foot-icon);

}

ul.foot {
    list-style-type: none;
}


ul.foot li {
    float: right;
    
}
/*lista do footer*/
.listafooter ul{
    display: blo
}
.listafooter li{
    display: block;
    padding: 5px;
    margin:5px;
}
.listafooter{
    display: flex;
    align-items:center; 
    height: 400px;
    background-color: var(--body-color);
}

.listafooter h1{
    margin-top: 30px
}

.listafooter p{
    font-size: 19px;
    text-align:start;
}

.listafooter div{
    align-items: center;

}

footer{
    display: block;
    background-color: var(--body-color);
    border: grey;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(5px);
    color: var(--body-bg);
}

.bg_footer{
    background-image: var(--body-color);
    background-size: 500px;
    filter: var(--foot-icon);

}

ul.foot {
    list-style-type: none;
}


ul.foot li {
    float: right;
    
}
/*lista do footer*/
.listafooter ul{
    display: flex;
}
.listafooter li{
    display: block;
    padding: 5px;
    margin:5px;
}
.listafooter{
    display: flex;
    align-items:center; 
    height: 400px;
    background-color: var(--body-color);
}

.listafooter h1{
    margin-top: 30px
}

.listafooter p{
    font-size: 19px;
    text-align:start;
}

.listafooter div{
    align-items: center;

}