@import url(https://fonts.google.com/specimen/Poppins);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.noticias{
font-family:"Poppins", "Poppins", sans-serif;
text-align: center;
margin-top: 3%;
margin-left: -75%;
  
}


:root{
    --cor1:  #000000;
    --cor2:  #ffffff;
    --cor3: #000000;
    --cor4:   #f59a23;
    --cor5: #2d2e83;
   
}
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor2);
    color: var(--cor3);
}


@media screen and (max-width: 780px) {
    .navigation_header{
        position: absolute;
        flex-direction: column !important;
        top: 0;
        background: var(--cor2);
        height: 100%;
        width: 35vw;
        padding: 1em;
        animation-duration: 1s;
        margin-left: -100vw;
    }
    .btn_icon_header{
        display: block;
    }
}
@keyframes showSidebar {
    from {margin-left: -100vw;}
    to {margin-left: -10vw;}
}

.retangulo{
    background-color: #2d2e83;
    padding-left: 15px;
    padding-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    margin-top: 55px;
    margin-left: 137px;
    width: 1000px;
    border-radius: 20px;
}

.icon_mulher{
    height: 250px;
    width: 420px;
    border-radius: 70%;
}

.retangulo-text{
    font-size: 15px;
    color: white;
    font-weight: 200;
    margin-left: 20px;
    text-align: left;
    font-family: 'Poppins';
}

.retangulo-text .h1{
    width: 200px;
}

.button-as-link{
    margin-top: 10px;
    width: 190px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid white;
    color: #2d2e83;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px
      }

      .retangulo2{
        background-color: #2d2e83;
        padding: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 300px;
        width: 1000px;
        margin-left: 137px;
        margin-top: 50px;
    }


    .retanguloazul{
        width: 70%;
        display: flex;
        justify-content: space-between;
        gap: 24px;
        font-family: 'Poppins', sans-serif;
    
        font-size: 17px;
        color: white;
        font-weight: 300;
        
    }

.retanguloazul h1{
    color: #ffe902;
}

    .retangulo3{
        background-color: #2d2e83;
        padding: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 300px;
        width: 1000px;
        margin-left: 137px;
        margin-top: 50px;
    }
    .retangulo-3{
        width: 70%;
        display: flex;
        justify-content: space-between;
        gap: 24px;
        font-family: 'Poppins', sans-serif;
    
        font-size: 17px;
        color: white;
        font-weight: 300;
        
    }

.retangulo-3 h1{
    color: #ffe902;
}

.linkLerMais {
        color: #f59a23;
        text-decoration: none;
        font-weight: bold;

    }

.footer {
        background-color: #2d2e83;
        color: #fff;
        text-align: center;
        padding: 10px 0;
        padding-top: 10px;
        margin-top: 20px;
    }
