@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
body {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
}

.header__wrapper header {
  width: 100%;
  background: url("../img/fundoperfilcandidado.png") no-repeat 50% 20% / cover;
  min-height: calc(100px + 15vw);
}

.header__wrapper .container .container_2 {
  padding: 25px 20px;
  text-align: center;
  max-width: 350px;
  position: relative;
  margin: 0 auto;
}

.header__wrapper .container .container_2 .img__container {
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translatex(-50%);
}
.header__wrapper .container .container_2 .img__container img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.18);
}
.header__wrapper .container .container_2 .img__container span {
  position: absolute;
  background: #2afa6a;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  bottom: 3px;
  right: 11px;
  border: 2px solid #fff;
}
.header__wrapper .container .container_2 h2 {
  margin-top: 60px;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 5px;
}
.header__wrapper .container .container_2 p {
  font-size: 0.9rem;
  color: #818181;
  margin: 0;
}
.header__wrapper .container .container_2 .about {
  justify-content: space-between;
  position: relative;
  margin: 35px 0;
}
.header__wrapper .container .container_2 .about li {
  display: flex;
  flex-direction: column;
  color: #818181;
  font-size: 0.9rem;
}
.header__wrapper .container .container_2 .about li span {
  color: #1d1d1d;
  font-weight: 600;
}
.header__wrapper .container .container_2 .about:after {
  position: absolute;
  content: "";
  bottom: -16px;
  display: block;
  background: #cccccc;
  height: 1px;
  width: 100%;
}
.header__wrapper .container .content p {
  font-size: 1rem;
  color: #1d1d1d;
  line-height: 1.8em;
}
.header__wrapper .container .content ul {
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}
.header__wrapper .container .content ul li {
  display: flex;
}
.header__wrapper .container .content ul i {
  font-size: 1.3rem;
}
.header__wrapper .container .content_3 nav {
  display: flex;
  align-items: center;
  padding: 30px 0;
  justify-content: space-between;
  flex-direction: column;
}
.header__wrapper .container .content_3 nav ul {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.header__wrapper .container .content_3 nav ul li a {
  text-transform: uppercase;
  color: #818181;
}
.header__wrapper .container .content_3 nav ul li:nth-child(1) a {
  color: #1d1d1d;
  font-weight: 600;
}
.header__wrapper .container .content_3 nav button {
  background: #0091ff;
  color: #fff;
  border: none;
  padding: 10px 25px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}
.header__wrapper .container .content_3 nav button:hover {
  opacity: 0.8;
}
.header__wrapper .container .content_3 .photos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  gap: 20px;
}
.header__wrapper .container .content_3 .photos img {
  max-width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
}

.seguir_botao {
  align-items: center;
  background-color: #378bf1;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
 }
 
 .seguir_botao:hover,
.seguir_botao:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
 }
 
.seguir_botao:hover {
  transform: translateY(-1px);
 }
 
.seguir_botao:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
 }

/* responsividade */

@media (min-width: 868px) {
  .header__wrapper .cols__container {
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 50px;
  }
  .header__wrapper .container .container_2 {
    padding: 25px 0px;
  }
  .header__wrapper .container .content_3 nav ul {
    flex-direction: row;
    gap: 30px;
  }
  .header__wrapper .container .content_3 .photos {
    height: 365px;
    overflow: auto;
    padding: 0 0 30px;
  }
}

@media (min-width: 1017px) {
  .header__wrapper .container .container_2 {
    margin: 0;
    margin-right: auto;
  }
  .header__wrapper .container .content_3 nav {
    flex-direction: row;
  }
  .header__wrapper .container .content_3 nav button {
    margin-top: 0;
  }
}
