*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.noticias{
font-family:"Poppins", "Poppins", sans-serif;
text-align: center;
margin-top: 3%;
margin-left: -75%;
  
}

:root{
    --cor1:  #000000;
    --cor2:  #ffffff;
    --cor3: #000000;
    --cor4:  #fdf04a;
    --cor5: #2d2e83;
   
}
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor2);
    color: var(--cor3);
}
.img_logo_header{
    width: 55px;
}
.header,
.navigation_header{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header{
    background-color: var(--cor2);
    justify-content: space-between;
    padding: 0 10%;
    height: 3.5em;
    height: 65px;
 
    box-shadow: 0px 10px 1px var(--cor4);
 
}
.navigation_header{
    gap: 3em;
    z-index: 2;
}
.content{
    padding-top: 5em;
    text-align: center;
    height: 100vh;
    transition: 1s;
}
.navigation_header a{
    text-decoration: none;
    color: var(--cor1);
    transition: 1s;
    font-weight: bold;
}
.navigation_header a:hover{
    color: var(--cor4);
}
.btn_icon_header{
    background: transparent;
    border: none;
    color: var(--cor1);
    cursor: pointer;
    display: none;
}
@media screen and (max-width: 768px) {
    .navigation_header{
        position: absolute;
        flex-direction: column !important;
        top: 0;
        background: var(--cor2);
        height: 100%;
        width: 35vw;
        padding: 1em;
        animation-duration: 1s;
        margin-left: -100vw;
    }
    .btn_icon_header{
        display: block;
    }
}
@keyframes showSidebar {
    from {margin-left: -100vw;}
    to {margin-left: -10vw;}
}


.menuConteiner{
    display: flex;
    justify-content: space-between;
    align-self: center;
    height: 80px;
    width: 100vw;
   padding-inline: 70px;
}

.menuConteiner .parte1{
    display: flex;
    align-items: center;
    gap: 24px;
}

ul{
    display: flex;
    list-style: none;
    gap: 55px;
    align-items: center;

}



main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.introdução{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 400px;
    background-image: url(./img/quadrooperarios.png);
    background-size: cover;
    width: 99vw;
    color: white;
    padding-left: 200px;


}
body{
    display: flex;
    flex-direction: column;
    gap: 7px;
    overflow-x: hidden;
}

span{
    color: yellow;

}
 main .introdução h1{
    font-family:  "Candara Bold", "Candara", sans-serif;
    font-size:100px;
    
 }
 main .introdução p{
    font-family: "Candara", sans-serif;
    font-size: 35px;

 }
 .retangulo{
    background-color: #2d2e83;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
}
.retanguloazul{
    width: 80%;
    display: flex;
    justify-content: space-around;
    gap: 24px;
    font-family: "Poppins SemiBold", "Poppins", sans-serif;
    font-size: 18px;
    color: white;
    font-weight: 600;
}
.urna{
    width: 300px;
    min-height: 600px;
    width: auto;
    height: auto;
}
.noticias{
    font-family:"Poppins SemiBold", "Poppins", sans-serif;
    text-align: center;
    margin-top: 3%;
    margin-left: 5%;
}

.news {
    display: flex; /* Define um contêiner flexível */
    justify-content: space-between; /* Distribui o espaço disponível entre as notícias */
    flex-wrap: wrap; /* Permite que as notícias quebrem para a próxima linha se não houver espaço suficiente */
    margin: 20px; /* Espaçamento ao redor do bloco de notícias */
}
.new {
    display: flex; /* Define um contêiner flexível */
    justify-content:baseline; /* Distribui o espaço disponível entre as notícias */
    flex-wrap:nowrap; /* Permite que as notícias quebrem para a próxima linha se não houver espaço suficiente */
    margin: 10px; /* Espaçamento ao redor do bloco de notícias */
}

/* Estilo para cada notícia individual */
.news-item {
    width: calc(33% - 10px); /* Define a largura de cada notícia para ocupar cerca de 1/3 do espaço disponível */
    box-sizing: border-box; /* Inclui a largura da borda e o preenchimento no cálculo da largura */
    margin-bottom: 20px; /* Espaçamento entre as notícias */
    text-align: center; /* Centraliza o conteúdo dentro de cada notícia */
    background-color: #fff; /* Cor de fundo da notícia */
    padding: 10px; /* Espaçamento interno da notícia */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Estilo para as imagens das notícias */
.news-item img {
    max-width: 100%; /* A imagem não ultrapassará a largura da notícia */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 5px; /* Adiciona cantos arredondados à imagem */
}
.noticias h1{
    justify-content: center;
}
.retanguloamareelo {
    font-family: "Poppins SemiBold", "Poppins", sans-serif;
    font-weight: 600;
    align-items: center;
    display: flex;
}

.retanguloamareelo p {
    font-size: 25px;
    width: 454px;
    height: 220px;
    text-align: justify;
    margin: 0 5px; 
    flex-grow: 1; 
}

.retanguloamareelo img {
    max-width: 100%;
    width: 500px;
    height: 520px;
}

.retangulo2 {
    background-color: #ffe902;
    padding: 24px;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.retangulo2 h1 {
    font-family: "Candara Bold", "Candara", sans-serif;
    text-align: center;
}

.bloco {
    
        background-color: #ff8800;
        padding: 24px;
        justify-content: center;
        align-items: center;
        height: 600px;
    
    
}
.bloco h1 {
    color: #fff;
    font-family: "Candara Bold", "Candara", sans-serif;
    text-align: center;
}


.logos img{
    height: 34px;
    width: 34px;
    
}

    

.textoelogo{
    flex-direction: column;

}
@media screen and (max-width: 768px){
    .introdução{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-inline: center;
     
  
        background-size: cover;
        width: 99vw;
        color: white;
    
    }
    span{
        color: var(--cor4);
    
    }
     main .introdução h1{
        font-family:  "Candara Bold", "Candara", sans-serif;
        font-size:80px;
        margin-left: -100px;
     }
     main .introdução p{
        font-family: "Candara", sans-serif;
        font-size: 10px;
    
     }
     .retanguloamareelo img {
     margin-top: 100px;
        width: 100px;
        height: 100px;

    }
}
 .bloco img{
    width:500px;
    margin-right: 1090px;

 }
 