<br>
<form action="atualizar_fotos_<%= logado.tipo %>" method="post" enctype="multipart/form-data" class="formfoto">
    <section>
        <legend>Personalização</legend>
        <section class="img__container">
            <label for="img_perfil">Foto de perfil:</label>
          <input class="campos" type="file" name="imgPerfil" id="img_perfil">
        </section>
        <section class="img__container">
            <label for="banner">Banner:</label>
            <input class="campos" type="file" name="banner" id="banner">
          </section>
          <br>
          <br>
        <input class="botao" type="submit" value="Mudar Foto">
    
  </form>