<br>
<form action="atualizar_fotos_<%= logado.tipo %>" method="post" enctype="multipart/form-data" class="formfoto">
    <fieldset><section>
        <legend>Personalização</legend>
        <section class="img__container">
            <label for="img_perfil">Foto de perfil:</label>
          <input type="file" name="imgPerfil" id="img_perfil">
        </section>
        <section class="img__container">
            <label for="banner">Banner:</label>
            <input type="file" name="banner" id="banner">
          </section>
        <input type="submit" value="Mudar Foto">
    </fieldset>
  </form>