<br>
<form action="atualizar_fotos_candidato" method="post" enctype="multipart/form-data" class="formulario">
    <section class="formfoto">
        <legend>Personalização</legend>
        <section class="img__container">
            <label for="img_perfil">Foto de perfil:</label>
          <input class="campos" type="file" name="imgPerfil" id="img_perfil">
        </section>
          <br>
          <br>
        <input class="botao" type="submit" value="Mudar Foto">
        <br>
  </form>

  <form action="atualizar_banner_candidato" enctype="multipart/form-data" class="formulario" method="post">
    <section class="img__container">
      <label for="banner">Banner:</label>
      <input class="campos" type="file" name="bannerPerfil" id="banner">
    </section>

    <input type="submit" value="Mudar Banner" class="botao">
  </form>