<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/cidadania23.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
        </style>
    <title>Perfil CIDADANIA 23</title>
</head>
<body>
    <section class="about" id="about">
        <section class="about-img">
            <img src="../imagem/CIDADANIA.png" alt="">
        </section>

        <section class="about-content">
            <h1>Partido <span>Cidadania 23</span></h1>
            <p>O Cidadania é um partido político brasileiro de alinhamento entre a centro-direita e a centro-esquerda. Foi fundado e registrado em 1992 com o nome Partido Popular Socialista (PPS), a partir de uma manobra política de parte da executiva nacional do Partido Comunista - Seção Brasileira da Internacional Comunista (PCB). Em março de 2019, alterou o nome para Cidadania, oficializado pelo TSE em setembro. Em julho de 2024 o partido possuía 425.435 filiados, tendo mais membros nos estados de São Paulo, de Minas Gerais e do Paraná.</p>
            <a href="https://cidadania23.org.br/" class="btn">Conheça-os!</a>
        </section>
    </section>

    <section class="card-container">
        <section class="card">
            <img src="../imagem/card1.jpg">
            <section class="card-content">
                <h3>Notícias</h3>
                <p>Acompanhe as notícias do partido Cidadania apertando o botão abaixo.</p>
                <a href="https://cidadania23.org.br/category/artigos-comentarios/" class="btn1">Ler mais</a>
            </section>
        </section>
        <section class="card">
            <img src="../imagem/card2.jpg">
            <section class="card-content">
                <h3>Políticos</h3>
                <p>Confira aqui os políticos que fazem parte do partido DC.</p>
                <a href="" class="btn1">Ler mais</a>
            </section>
        </section>
    </section>
</body>
</html>