<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/editar-candidato.css">
    <title>Editar dados do perfil</title>
</head>
<body>
      <%- include("../partial/editar-perfil-candidato") %>
      <%- include("../partial/editar-foto-candidato") %>
      <%- include("../partial/editar-conta-candidato") %>
</body>
</html>