<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.css" />
    <script src="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.min.js"></script>

    <link rel="stylesheet" href="../css/editar-eleitor.css">
    <script type="text/javascript" src="../js/notify.js"></script>
    <title>Editar dados do perfil</title>
</head>
<body>

    <%- include("../partial/editar-perfil-eleitor") %>
    <br>
    <%- include("../partial/editar-foto-eleitor") %>
    <br><br><br>
    <%- include("../partial/editar-conta-eleitor") %>

<script>
    $(document).ready(function() {
        $('.estado').select2();
    });
</script>
</body>
</html>
