<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/escolha.css">
    <title>Escolha</title>
</head>
<body>
    <h1 class="title">Para realizar o cadastro, identifique-se:</h1>
    <section class="container">
        <section class="form-image1">
            <img src="../public/imagem/politico.png">
                <button class="politico-button"><a href="#">Sou Político</a></button>
            </section>
            <section class="form-image2">
                <img src="../public/imagem/amigo.png">
                    <button class="cliente-button"><a href="#">Sou Cliente</a></button>
                </section>
            </section>
    
</body>
</html>