<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Usuário</title>
    <link rel="stylesheet" href="css/footer.css">
</head>
<footer>
    <section class="footer-content">
        <section class="footer-section">
            <h3 ><a class="sbrnos" href="#"></h3 class="sbrnos"> Sobre nós</h3></a>
        </section>
        <section class="footer-section">
            <h3>Contato</h3>
            <p>Email: polidiz@gmail.com</p>
            <p>Telefone: (11) 1234-5678</p>
        </section>
        <section class="footer-section">
            <h3>Redes Sociais</h3>
            <section class="social-icons">
                <a href="www.facebook.com"><img src="./imagem/face.png" width="20px" alt="Facebook"></a>
                <a href="www.x.com"><img src="./imagem/x.png" width="20px"alt="X"></a>
                <a href="https://www.instagram.com/"><img src="./imagem/insta.png"width="20px" alt="Instagram"></a>
            </section>
        </section>
        <section class="footer-section">
            <h3>Localização</h3>
            <p>Endereço:R. Interna Grupo Bandeirante, 138 </p>
            <p>Cidade: Barueri - SP</p>
        </section>
    </section>
    <section  class="logo-space">
        <img src="./imagem/LOGO.png" width="50px">
        <h1 class="polidizlogo">POLI<span class="diz">DIZ</span></h1>
    </section>
</footer>