<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POLIDIZ</title>
    <link rel="stylesheet" href="../css/home.css">
    <script type="text/javascript" async="" src="../js/home.js"> </script>
</head>

    <body id="body">
        <!--inicio do cabeçalho-->
        <header>
    <nav class="nav-bar">
        <section class="logo">
              <img src="../imagem/LOGO.png">
            <h1>POLI<span class="diz">DIZ</span></h1>
          
        </section>
        <section class="nav-list">
            <ul>
                <li class="nav-item"><a href="/" class="nav-link">HOME</a></li>

                <% if (logado.nome) { %>
                    <li class="nav-item"><a href="/perfil-<%= logado.tipo %>/<%= logado.id %>" class="nav-link">PERFIL</a></li>
                <% } else {%>
                    <li class="nav-item"><a href="/escolha" class="nav-link">CONTA</a></li>
                    <li class="nav-item"><a href="/signin" class="nav-link">LOGIN</a></li>
                <% } %>
                <li class="nav-item"><a href="#" class="nav-link">SUPERCHAT</a></li>
                <li class="nav-item"><a href="/politicos" class="nav-link">PARTIDOS</a></li>
                <li class="nav-item"><a href="/noticias" class="nav-link">NOTÍCIAS</a></li>
                <li class="nav-item" ><a class="nav-sol" onclick="noturno()" href="#" class="nav-link" >☀</a></li>
        
            </ul>
            

        <section class="mobile-menu-icon">
            <button onclick="menuShow()"><img class="icon" src="../public/imagem/" alt=""></button>
        </section>
    </nav>
    <section class="mobile-menu">
        <ul>
            <li class="nav-item"><a href="home" class="nav-link">HOME</a></li>
            <li class="nav-item"><a href="escolha" class="nav-link">CONTA</a></li>
            <li class="nav-item"><a href="#" class="nav-link">SUPERCHAT</a></li>
            <li class="nav-item"><a href="politicos" class="nav-link">PARTIDOS</a></li>
            <li class="nav-item"><a href="noticias" class="nav-link">NOTÍCIAS</a></li>
            <li class="nav-item"><a><span onclick="noturno()" style="cursor: pointer;font-size: 26pt;position: absolute;top: 4px;">☀</span></a></li>
        </ul>
    </section>
</header>