<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POLIDIZ</title>
    <link rel="stylesheet" href="/app/public/css/home.css">
    <script type="text/javascript" async="" src=""> </script>
</head>

    <body id="body">
        <!--inicio do cabeçalho-->
        <header>
    <nav class="nav-bar">
        <section class="logo">
              <img src="../public/imagem/LOGO.png">
            <h1>POLI<span class="diz">DIZ</span></h1>
          
        </section>
        <section class="nav-list">
            <ul>
                <li class="nav-item"><a href="#" class="nav-link">HOME</a></li>
                <li class="nav-item"><a href="#" class="nav-link">CONTA</a></li>
                <li class="nav-item"><a href="#" class="nav-link">SUPERCHAT</a></li>
                <li class="nav-item"><a href="#" class="nav-link">POLÍTICOS</a></li>
                <li class="nav-item"><a href="#" class="nav-link">NOTÍCIAS</a></li>
                <li class="nav-item" ><a class="nav-sol" onclick="noturno()" href="#" class="nav-link" >☀</a></li>
        
            </ul>
            

        <section class="mobile-menu-icon">
            <button onclick="menuShow()"><img class="icon" src="../public/imagem/" alt=""></button>
        </section>
    </nav>
    <section class="mobile-menu">
        <ul>
            <li class="nav-item"><a href="../pages/login.html" class="nav-link">HOME</a></li>
            <li class="nav-item"><a href="../views/cadastro-eleitor.html" class="nav-link">CONTA</a></li>
            <li class="nav-item"><a href="#" class="nav-link">SUPERCHAT</a></li>
            <li class="nav-item"><a href="#" class="nav-link">POLÍTICOS</a></li>
            <li class="nav-item"><a href="#" class="nav-link">NOTÍCIAS</a></li>
            <li class="nav-item"><a><span onclick="noturno()" style="cursor: pointer;font-size: 26pt;position: absolute;top: 4px;">☀</span></a></li>
        </ul>
    </section>
</header>
   <!--fim do cabeçalho-->
   <!--INICIO DO CORPO-->
   <img class="operarios_img" src="../public/imagem/operarios1.png">

   <section class="sobre">
       <h1>Sobre o polidiz:</h1>
       <p>O Polidez é muito mais do que um simples projeto; ele representa uma iniciativa dedicada a transformar a maneira como encaramos a política e a participação cidadã. Num mundo onde a desconfiança nas instituições políticas muitas vezes prevalece, o Polidez emerge como um farol de esperança, oferecendo novas perspectivas e abordagens para fortalecer os alicerces da democracia.
          No âmago de sua missão está a promoção do voto consciente e informado. Reconhecendo que a escolha dos nossos representantes é um dos pilares fundamentais da democracia, o Polidez se empenha em orientar os cidadãos sobre a importância de conhecer os candidatos, suas propostas e históricos. Afinal, um eleitor informado é capaz de tomar decisões que refletem seus valores e aspirações, contribuindo assim para uma sociedade mais justa e igualitária.</p>
   </section>
   <section class="retangulo1">
       <ul>
           <li>
           <h1>CONVERSE COM SEU CANDIDATO</h1>
           <p>
               Participe do SuperChat do Polidez para enviar perguntas aos candidatos em debates ao vivo. 
               Esta função interativa permite que os cidadãos questionem os futuros políticos sobre temas importantes, 
               promovendo o engajamento democrático e a tomada de decisões informadas.
               Não perca a oportunidade de fazer sua voz ser ouvida e influenciar o rumo da política em sua comunidade!</p>    
       </li>

       <li>
           <h1>CONVERSE COM SEU CANDIDATO</h1>
           <p>
               Participe do SuperChat do Polidez para enviar perguntas aos candidatos em debates ao vivo. 
               Esta função interativa permite que os cidadãos questionem os futuros políticos sobre temas importantes, 
               promovendo o engajamento democrático e a tomada de decisões informadas.
               Não perca a oportunidade de fazer sua voz ser ouvida e influenciar o rumo da política em sua comunidade!</p>    
       </li>

       <li>
           <h1>CONVERSE COM SEU CANDIDATO</h1>
           <p>
               Participe do SuperChat do Polidez para enviar perguntas aos candidatos em debates ao vivo. 
               Esta função interativa permite que os cidadãos questionem os futuros políticos sobre temas importantes, 
               promovendo o engajamento democrático e a tomada de decisões informadas.
               Não perca a oportunidade de fazer sua voz ser ouvida e influenciar o rumo da política em sua comunidade!</p>    
       </li>

       </ul>    
   </section>
   <ul class="texto2">
    <img src="../public/imagem/2.png">
       <li>
       <h1>Sobre o Polidiz:</h1>
       <p>O Polidez é muito mais do que um simples projeto; ele representa uma iniciativa dedicada a transformar a maneira como encaramos a política e a participação cidadã. Num mundo onde a desconfiança nas instituições políticas muitas vezes prevalece, o Polidez emerge como um farol de esperança, oferecendo novas perspectivas e abordagens para fortalecer os alicerces da democracia.
          No âmago de sua missão está a promoção do voto consciente e informado. Reconhecendo que a escolha dos nossos representantes é um dos pilares fundamentais da democracia, o Polidez se empenha em orientar os cidadãos sobre a importância de conhecer os candidatos, suas propostas e históricos. Afinal, um eleitor informado é capaz de tomar decisões que refletem seus valores e aspirações, contribuindo assim para uma sociedade mais justa e igualitária.</p>
       </li>
       </ul>
<div class="slider-container">
 <div class="slider">
   <img src="../public/imagem/3s.png" class="slide">
   <img src="../public/imagem/1s.png class="slide">
   <img src="../public/imagem/3s.png" class="slide">
</div>       
<button class="prev" onclick="prevSlide()">❮</button>
<button class="next" onclick="nextSlide()">❯</button>
</div> 
<section class="anuncio">
<h1>ANÚNCIO</h1>
</section>

<ul class="texto3">
<li>
<h1>A ESCOLHA É SUA!</h1>

<p>Escolher bem os candidatos é mais do que um direito, é uma responsabilidade. 
   Nas mãos deles, estão decisões que moldam o futuro da nossa sociedade.
    Faça sua escolha com consciência, pensando no bem coletivo e na construção de um futuro melhor.
    Não subestime o poder do seu voto, ele pode transformar realidade</p>    </li>
   <img src="../public/imagem/2024.png">
</ul>

</body><footer> 



<ul class="foot">
   <li class="bg_footer" style="background-position: -8px -16px;"><a href="#"></a></li>
   <li class="bg_footer" style="background-position: -7px 104px;"><a href="#"></a></li>
   <li class="bg_footer" style="background-position: -4px 139px;"><a href="#"></a></li>
   <li class="bg_footer" style="background-position: -8px 176px;"><a href="#"></a></li>
   <li class="bg_footer" style="background-position: -59px 140px;"><a href="#"></a></li>
</ul>


<section class="listafooter">
   <ul>
       <li>
       <h1>DEUS É BOM</h1>
       <p>
           Participe do SuperChat do Polidez para enviar perguntas aos can.
           Não perca a oportunidade de fazer sua voz ser ouvida e influenciar o rumo da política em sua comunidade!</p>    
   </li>

   <li>
       <h1>COISA LEGAL</h1>
       <p>
           Participe do SuperChat do Polidez para enviar perguntas aos candidatos em debates ao vivo. 
           Esta função interativa permite que os cidadãos a comunidade!</p>    
   </li>

   <li>
       <h1>UM TÍTULO</h1>
       <p>
           Participe do SuperChat do Polidez para enviar perguntas aos candidatos em debates ao vivo. 
           Esta função interolítica em sua comunidade!</p>    
   </li>
<li>
   <h1>UM NEGÓCIO</h1>
   <p>
       Participe do SuperChat do Polidez para enviar perguntas aos candidatos em debates ao vivo. 
       Esta função interolítica em sua comunidade!</p>    
</li>

   </ul>    
</section>    

</footer>


</html>