<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POLIDIZ</title>
    <link rel="stylesheet" href="css/home.css">
    <script type="text/javascript" async="" src="js/home.js"> </script>
</head>

    <body id="body">
        <!--inicio do cabeçalho-->
        <%- include("../pages/header-home") %>
   <!--fim do cabeçalho-->
   <!--INICIO DO CORPO-->
   <img class="operarios_img" src="./imagem/operarios1.png">

   <section class="sobre">
       <h1>Sobre o polidiz:</h1>
       <section class="sbr_poli">
       <p>O Polidiz é muito mais do que um simples projeto; ele representa uma iniciativa dedicada a transformar a maneira como encaramos a política e a participação cidadã. Num mundo onde a desconfiança nas instituições políticas muitas vezes prevalece, o Polidiz emerge como um farol de esperança, oferecendo novas perspectivas e abordagens para fortalecer os alicerces da democracia.
          No auge de sua missão está a promoção do voto consciente e informado. Reconhecendo que a escolha dos nossos representantes é um dos pilares fundamentais da democracia, o Polidiz se empenha em orientar os cidadãos sobre a importância de conhecer os candidatos, suas propostas, seus partidos e históricos. Afinal, um eleitor informado é capaz de tomar decisões que refletem seus valores e aspirações, contribuindo assim para uma sociedade mais justa e igualitária.</p>
   </section></section>





   <section class="tres_text">


    <section class="retangulo1">
<p class="rtgl_p">As melhores notícias!</p>
</section>

    <section class="retangulo2">
        <p class="rtgl_p">POLIDIZ</p>

</section>

    <section class="retangulo3">
        <p class="rtgl_p">Descubra Partidos!</p>

</section>

    <section class="retangulo4">
        <p class="rtgl_p">Acompanhe seu candidato!</p>

</section>

</section>
   <ul class="texto2">
    <img src="./imagem/2.png">
       <li>
       <h1>A importância do voto</h1>
       <p>O voto é um pilar fundamental da democracia, pois representa a voz do cidadão na tomada de decisões que moldam a sociedade. Ele é o meio pelo qual os indivíduos exercem seu direito de influenciar a administração pública e a criação de leis, garantindo que seus interesses e valores sejam considerados.
         Participar das eleições é essencial para assegurar que o governo reflita verdadeiramente a vontade popular e para promover a responsabilidade dos líderes eleitos. Portanto, o ato de votar não apenas fortalece a democracia, mas também contribui para a construção de uma sociedade mais justa e representativa.</p>
       </li>
       </ul>
<section class="anuncio">
<h1>ANÚNCIO</h1>
</section>

<ul class="texto3">
<li>
<h1>A ESCOLHA É SUA!</h1>

<p>Escolher bem os candidatos é mais do que um direito, é uma responsabilidade. 
   Nas mãos deles, estão decisões que moldam o futuro da nossa sociedade.
    Faça sua escolha com consciência, pensando no bem coletivo e na construção de um futuro melhor.
    Não subestime o poder do seu voto, ele pode transformar realidade</p>    </li>
   <img src="./imagem/2024.png">
</ul>

</body>
<footer> 
    <%- include("../pages/footer") %>
</footer>


</html>