
<!--Website: wwww.codingdung.com-->
<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LI E CONCORDO</title>
    <link rel="stylesheet" href="li_concordo.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>








    <h1 class="title">Termos
        
        e condições, assumindo a
        responsabilidade pelas informações que publicar. <svg class="jornalzinho" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-newspaper" viewBox="0 0 16 16">
            <path d="M0 2.5A1.5 1.5 0 0 1 1.5 1h11A1.5 1.5 0 0 1 14 2.5v10.528c0 .3-.05.654-.238.972h.738a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 1 1 0v9a1.5 1.5 0 0 1-1.5 1.5H1.497A1.497 1.497 0 0 1 0 13.5zM12 14c.37 0 .654-.211.853-.441.092-.106.147-.279.147-.531V2.5a.5.5 0 0 0-.5-.5h-11a.5.5 0 0 0-.5.5v11c0 .278.223.5.497.5z"/>
            <path d="M2 3h10v2H2zm0 3h4v3H2zm0 4h4v1H2zm0 2h4v1H2zm5-6h2v1H7zm3 0h2v1h-2zM7 8h2v1H7zm3 0h2v1h-2zm-3 2h2v1H7zm3 0h2v1h-2zm-3 2h2v1H7zm3 0h2v1h-2z"/>
          </svg></h1>






<section class="paragrafos">
          <p class="termos1"> 1 - Aceitação dos Termos
            Ao utilizar este site para publicar notícias, você concorda em cumprir e estar vinculado a este Termo de Responsabilidade, bem como a todas as leis e regulamentos aplicáveis. Caso não concorde com algum destes termos, não utilize este serviço.
        </p>  
            <p class="termos1"> 2 - Veracidade das Informações
            Os utilizadores comprometem-se a garantir que todas as informações publicadas no site sejam verdadeiras e precisas. Publicar notícias falsas (fake news) é estritamente proibido. O utilizador assume total responsabilidade pela veracidade das informações divulgadas.
        </p>
            <p class="termos1">  3 - Responsabilidade Legal
            O utilizador é o único responsável por todas as informações publicadas. Em caso de processos judiciais, reclamações ou qualquer tipo de problema decorrente das notícias publicadas, a responsabilidade será exclusivamente do utilizador que publicou o conteúdo.
        </p>
            <p class="termos1">  4 - Leis Aplicáveis
            Este termo está em conformidade com as leis portuguesas, incluindo, mas não se limitando a:
            Lei n.º 27/2007 de 30 de julho (Lei da Televisão e dos Serviços Audiovisuais a Pedido)
            Lei n.º 1/99 de 13 de janeiro (Lei da Imprensa)
            Lei n.º 41/2004 de 18 de agosto (Lei das Comunicações Eletrónicas)
            O não cumprimento destas leis poderá resultar em ações legais contra o utilizador.
        </p>
            <p class="termos1">  5 - Isenção de Responsabilidade do Site
            O site não se responsabiliza pelo conteúdo publicado pelos utilizadores. Todo o conteúdo é de responsabilidade exclusiva de quem o publica. O site não será responsável por quaisquer danos ou perdas resultantes do uso ou confiança nas informações publicadas por utilizadores.
        </p>
            <p class="termos1">  6 - Modificações dos Termos
            Reservamo-nos o direito de modificar estes termos a qualquer momento. As alterações serão publicadas no site e é responsabilidade do utilizador manter-se atualizado com os termos vigentes.
        </p>
           <p class="termos1">  7 - Consequências do Não Cumprimento
            Qualquer violação destes termos pode resultar na suspensão ou encerramento da conta do utilizador, bem como em ações legais apropriadas.
            
            Ao marcar a caixa de seleção "Eu li e concordo com os termos e condições, assumindo a responsabilidade pelas informações que publicar", o utilizador confirma que leu, compreendeu e concorda com este Termo de Responsabilidade.</p>
        </p>

    </section>





          <!--aqui começa o botão de continue-->


<section class="container">
  <button class="btn">Continue</button>
</section>



 <!--aqui termina o botão de continue-->






</body>

</html>