<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Superchat</title>
    <link rel="stylesheet" type="text/css" href="../css/links.css">
</head>
<body>
    <!--inicio do cabeçalho-->
 <%- include("../pages/header-home") %>
 <!--fim do cabeçalho-->
    <main class="table" id="customers_table">
        <section class="table__header">
            <h1>Transmissões via Google Meet</h1>
            <div class="input-group">
                <input type="search" placeholder="Pesquise...">
                <img src="imagem/search.png" alt="">
            </div>
        </section>
        <section class="table__body">
            <table>
                <thead>
                    <tr>
                        <th> Nome <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Link <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Horário <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Status da trasmisssão <span class="icon-arrow">&UpArrow;</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> <img src="../imagem/imagens_servidor/perfil/fotoPerfilPadrao.jpg" alt="">Ornedo</td>
                        <td> # </td>
                        <td> 14:00-15:30 </td>
                        <td>
                            <p class="status ativo">ATIVO</p>
                        </td>
                    </tr>
                    <tr>
                        <td><img src="../imagem/imagens_servidor/perfil/fotoPerfilPadrao.jpg" alt=""> Pastora Paula </td>
                        <td> # </td>
                        <td> 14:00-15:30 </td>
                        <td>
                            <p class="status finalizada">FINALIZADA</p>
                        </td>
                    </tr>
                    <tr>
                        <td><img src="../imagem/imagens_servidor/perfil/fotoPerfilPadrao.jpg" alt=""> Jô no coração do povo </td>
                        <td> # </td>
                        <td> 14:00-15:30 </td>
                        <td>
                            <p class="status programada">PROGRAMADA</p>
                        </td>
                    </tr>
                    <tr>
                        <td><img src="../imagem/imagens_servidor/perfil/fotoPerfilPadrao.jpg" alt=""> Rodrigo Rodrigues </td>
                        <td> # </td>
                        <td> 14:00-15:30 </td>
                        <td>
                            <p class="status ativo">ATIVO</p>
                        </td>
                    </tr>
                    <tr>
                        <td><img src="../imagem/imagens_servidor/perfil/fotoPerfilPadrao.jpg" alt=""> Wilson Zuffa </td>
                        <td> # </td>
                        <td> 14:00-15:30 </td>
                        <td>
                            <p class="status embreve">EM BREVE</p>
                        </td>
                    </tr>
                    <tr>
                        <td><img src="../imagem/imagens_servidor/perfil/fotoPerfilPadrao.jpg" alt=""> Keu Oliveira </td>
                        <td> # </td>
                        <td> 14:00-15:30 </td>
                        <td>
                            <p class="status finalizada">FINALIZADA</p>
                        </td>
                    </tr>
                    <tr>
                        <td><img src="../imagem/imagens_servidor/perfil/fotoPerfilPadrao.jpg" alt=""> Kaskata </td>
                        <td> # </td>
                        <td> 14:00-15:30 </td>
                        <td>
                            <p class="status ativo">ATIVO</p>
                        </td>
                </tbody>
            </table>
        </section>
    </main>
    <script src="links.js"></script>

</body>

</html>
