<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/login.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script type="text/javascript" async="" src="./js/login.js"> </script>
</head>
    <title>Login</title>
</head>
<body>
    <section class="wrapper">
        <form action="#">
            <h1>Login</h1>
            <section class="input-box">
                <input type="text" placeholder="Username" required>
                <i class="bx bxs-user"></i>
            </section>

            <section class="input-box">
                <input type="password" placeholder="Password" required>
                <i class='bx bxs-lock'></i>
            </section>

            <section class="remember-forgot">
                <label><input type="checkbox">Lembrar de mim</label>
                <a href="#">Esqueceu a senha?</a>
            </section>

            <button type="admit" class="btn">Login</button>

            <section class="register-link">
                <p>Não tem conta?
                    <a href="../pages/escolha.ejs"> Crie uma!</a></p>
            </section>
        </form>
    </section>
    
</body>
</html>