<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POLIDIZ</title>
    <link rel="stylesheet" href="css/news.css">
    <script type="text/javascript" async="" src="js/news.js"> </script>
</head>
    <body id="body">
        <%- include("../pages/header-home") %>
<section id="noticias-container">
    <section class="titulo">
    <h1>NOTICIAS</h1>
</section>
    <ul class="noticias">
    <li><article class="noticia">

            <img src="imagem/news-1.jpg" alt="Notícia 1">
            <h2>Novo parque de diversões é inaugurado na cidade</h2>
        
        <p>Um novo parque de diversões foi inaugurado na cidade,
             proporcionando entretenimento para toda a família. Lorem 
             ipsum dolor sit amet, consectetur adipiscing elit.  tristique era
             t a arcu feugiat, a vestibulum risus venenatis.
         .</p>
        <a href="#" class="leia-mais">Leia mais</a>
    </article></li>

    <li><article class="noticia">
     
            <img src="imagem/news-2.jpg" alt="Notícia 2">
            <h2>Descoberta de nova espécie de borboleta encanta biólogos</h2>
   
        <p>Um novo parque de diversões foi inaugurado na cidade,
            proporcionando entretenimento para toda a família. Lorem 
            ipsum dolor sit amet, consectetur adipiscing elit.  tristique era
            t a arcu feugiat, a vestibulum risus venenatis.</p>
        <a href="#" class="leia-mais">Leia mais</a>
        
    </article></li>

  <li>  <article class="noticia">
       
            <img src="imagem/news-3.jpg" alt="Notícia 3">
            <h2>Cientistas anunciam avanço na busca por cura do câncer</h2>
    
        <p>Cientistas anunciaram um importante avanço na pesquisa 
            em busca da cura do câncer, trazendo esperança para milhões 
            de pacientes em todo o mundo.</p>
        <a href="#" class="leia-mais">Leia mais</a>
    </article></li>
    <li><article class="noticia">
      
            <img src="imagem/news-1.jpg" alt="Notícia 1">
            <h2>Novo parque de diversões é inaugurado na cidade</h2>
     
        <p>Um novo parque de diversões foi inaugurado na cidade,
             proporcionando entretenimento para toda a família. Lorem 
             ipsum dolor sit amet, consectetur adipiscing elit.  tristique era
             t a arcu feugiat, a vestibulum risus venenatis.
         .</p>
        <a href="#" class="leia-mais">Leia mais</a>
 </li>

    <li><article class="noticia">
      
            <img src="imagem/news-2.jpg" alt="Notícia 2">
            <h2>Descoberta de nova espécie de borboleta encanta biólogos</h2>
       
        <p>Um novo parque de diversões foi inaugurado na cidade,
            proporcionando entretenimento para toda a família. Lorem 
            ipsum dolor sit amet, consectetur adipiscing elit.  tristique era
            t a arcu feugiat, a vestibulum risus venenatis.</p>
        <a href="#" class="leia-mais">Leia mais</a>
        
    </article></li>

  <li>  <article class="noticia">
        
            <img src="imagem/news-3.jpg" alt="Notícia 3">
            <h2>Cientistas anunciam avanço na busca por cura do câncer</h2>
        
        <p>Cientistas anunciaram um importante avanço na pesquisa 
            em busca da cura do câncer, trazendo esperança para milhões 
            de pacientes em todo o mundo.</p>
        <a href="#" class="leia-mais">Leia mais</a>
    </article></li>

    <li><article class="noticia">

        <img src="imagem/news-1.jpg" alt="Notícia 1">
        <h2>Novo parque de diversões é inaugurado na cidade</h2>
    
    <p>Um novo parque de diversões foi inaugurado na cidade,
         proporcionando entretenimento para toda a família. Lorem 
         ipsum dolor sit amet, consectetur adipiscing elit.  tristique era
         t a arcu feugiat, a vestibulum risus venenatis.
     .</p>
    <a href="#" class="leia-mais">Leia mais</a>
</article></li>

<li><article class="noticia">
 
        <img src="imagem/news-2.jpg" alt="Notícia 2">
        <h2>Descoberta de nova espécie de borboleta encanta biólogos</h2>

    <p>Um novo parque de diversões foi inaugurado na cidade,
        proporcionando entretenimento para toda a família. Lorem 
        ipsum dolor sit amet, consectetur adipiscing elit.  tristique era
        t a arcu feugiat, a vestibulum risus venenatis.</p>
    <a href="#" class="leia-mais">Leia mais</a>
    
</article></li>

<li>  <article class="noticia">
   
        <img src="imagem/news-3.jpg" alt="Notícia 3">
        <h2>Cientistas anunciam avanço na busca por cura do câncer</h2>

    <p>Cientistas anunciaram um importante avanço na pesquisa 
        em busca da cura do câncer, trazendo esperança para milhões 
        de pacientes em todo o mundo.</p>
    <a href="#" class="leia-mais">Leia mais</a>
</article></li>
<li><article class="noticia">
  
        <img src="imagem/news-1.jpg" alt="Notícia 1">
        <h2>Novo parque de diversões é inaugurado na cidade</h2>
 
    <p>Um novo parque de diversões foi inaugurado na cidade,
         proporcionando entretenimento para toda a família. Lorem 
         ipsum dolor sit amet, consectetur adipiscing elit.  tristique era
         t a arcu feugiat, a vestibulum risus venenatis.
     .</p>
    <a href="#" class="leia-mais">Leia mais</a>
</li>

<li><article class="noticia">
  
        <img src="imagem/news-2.jpg" alt="Notícia 2">
        <h2>Descoberta de nova espécie de borboleta encanta biólogos</h2>
   
    <p>Um novo parque de diversões foi inaugurado na cidade,
        proporcionando entretenimento para toda a família. Lorem 
        ipsum dolor sit amet, consectetur adipiscing elit.  tristique era
        t a arcu feugiat, a vestibulum risus venenatis.</p>
    <a href="#" class="leia-mais">Leia mais</a>
    
</article></li>

<li>  <article class="noticia">
    
        <img src="imagem/news-3.jpg" alt="Notícia 3">
        <h2>Cientistas anunciam avanço na busca por cura do câncer</h2>
    
    <p>Cientistas anunciaram um importante avanço na pesquisa 
        em busca da cura do câncer, trazendo esperança para milhões 
        de pacientes em todo o mundo.</p>
    <a href="#" class="leia-mais">Leia mais</a>
</article></li>
</section>

<script src="news.js"></script>
</body>
</html>
