<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POLIDIZ</title>
    <link rel="stylesheet" href="../../public/css/news.css">
    <script type="text/javascript" async="" src="../public/js/news.js"> </script>
</head>
    <body id="body">
        <header>
            <nav class="nav-bar">
                <section class="logo">
                      <img src="../public/imagem/LOGO.png">
                    <h1>POLI<span class="diz">DIZ</span></h1>
                  
                </section>
                <section class="nav-list">
                    <ul>
                        <li class="nav-item"><a href="#" class="nav-link">HOME</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">CONTA</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">SUPERCHAT</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">POLÍTICOS</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">NOTÍCIAS</a></li>
                        <li class="nav-item" ><a class="nav-sol" onclick="noturno()" href="#" class="nav-link" >☀</a></li>
                
                    </ul>
                    <section class="mobile-menu-icon">
                        <button onclick="menuShow()"><img class="icon" src="../public/imagem/" alt=""></button>
                    </section>
                </nav>
                <section class="mobile-menu">
                    <ul>
                        <li class="nav-item"><a href="../pages/login.html" class="nav-link">CONTA</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">HOME</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">CONTA</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">POLÍTICOS</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">NOTÍCIAS</a></li>
                        <li class="nav-item"><a><span onclick="noturno()" style="cursor: pointer;font-size: 26pt;position: absolute;top: 4px;">☀</span></a></li>
                    </ul>
                </section>
            </header>


<section id="noticias-container">
    <section class="titulo">
    <h1>Últimas notícias!</h1>
    <h1>Confira as notícias atualizadas</h1>
</section>
    <ul class="noticias">
    <li><article class="noticia">
        <header>
            <img src="../public/imagem/news-1.jpg" alt="Notícia 1">
            <h2>Novo parque de diversões é inaugurado na cidade</h2>
        </header>
        <p>Um novo parque de diversões foi inaugurado na cidade,
             proporcionando entretenimento para toda a família. Lorem 
             ipsum dolor sit amet, consectetur adipiscing elit.  tristique era
             t a arcu feugiat, a vestibulum risus venenatis.
         .</p>
        <a href="#" class="leia-mais">Leia mais</a>
    </article></li>

    <li><article class="noticia">
        <header>
            <img src="../public/imagem/2.png" alt="Notícia 2">
            <h2>Descoberta de nova espécie de borboleta encanta biólogos</h2>
        </header>
        <p>Um novo parque de diversões foi inaugurado na cidade,
            proporcionando entretenimento para toda a família. Lorem 
            ipsum dolor sit amet, consectetur adipiscing elit.  tristique era
            t a arcu feugiat, a vestibulum risus venenatis.</p>
        <a href="#" class="leia-mais">Leia mais</a>
        
    </article></li>

  <li>  <article class="noticia">
        <header>
            <img src="../public/imagem/3s.png" alt="Notícia 3">
            <h2>Cientistas anunciam avanço na busca por cura do câncer</h2>
        </header>
        <p>Cientistas anunciaram um importante avanço na pesquisa 
            em busca da cura do câncer, trazendo esperança para milhões 
            de pacientes em todo o mundo.</p>
        <a href="#" class="leia-mais">Leia mais</a>
    </article></li>
    <li><article class="noticia">
        <header>
            <img src="../public/imagem/1s.png" alt="Notícia 1">
            <h2>Novo parque de diversões é inaugurado na cidade</h2>
        </header>
        <p>Um novo parque de diversões foi inaugurado na cidade,
             proporcionando entretenimento para toda a família. Lorem 
             ipsum dolor sit amet, consectetur adipiscing elit.  tristique era
             t a arcu feugiat, a vestibulum risus venenatis.
         .</p>
        <a href="#" class="leia-mais">Leia mais</a>
    </article></li>

    <li><article class="noticia">
        <header>
            <img src="../public/imagem/2.png" alt="Notícia 2">
            <h2>Descoberta de nova espécie de borboleta encanta biólogos</h2>
        </header>
        <p>Um novo parque de diversões foi inaugurado na cidade,
            proporcionando entretenimento para toda a família. Lorem 
            ipsum dolor sit amet, consectetur adipiscing elit.  tristique era
            t a arcu feugiat, a vestibulum risus venenatis.</p>
        <a href="#" class="leia-mais">Leia mais</a>
        
    </article></li>

  <li>  <article class="noticia">
        <header>
            <img src="../public/imagem/1s.png" alt="Notícia 3">
            <h2>Cientistas anunciam avanço na busca por cura do câncer</h2>
        </header>
        <p>Cientistas anunciaram um importante avanço na pesquisa 
            em busca da cura do câncer, trazendo esperança para milhões 
            de pacientes em todo o mundo.</p>
        <a href="#" class="leia-mais">Leia mais</a>
    </article></li>
</section>

<script src="../public/js/news.js"></script>
</body><footer> 
    <ul class="foot">
       <li class="bg_footer" style="background-position: -8px -16px;"><a href="#"></a></li>
       <li class="bg_footer" style="background-position: -7px 104px;"><a href="#"></a></li>
       <li class="bg_footer" style="background-position: -4px 139px;"><a href="#"></a></li>
       <li class="bg_footer" style="background-position: -8px 176px;"><a href="#"></a></li>
       <li class="bg_footer" style="background-position: -59px 140px;"><a href="#"></a></li>
    </ul>
    
    
    <section class="listafooter">
       <ul>
           <li>
           <h1>DEUS É BOM</h1>
           <p>
               Participe do SuperChat do Polidez para enviar perguntas aos can.
               Não perca a oportunidade de fazer sua voz ser ouvida e influenciar o rumo da política em sua comunidade!</p>    
       </li>
    
       <li>
           <h1>COISA LEGAL</h1>
           <p>
               Participe do SuperChat do Polidez para enviar perguntas aos candidatos em debates ao vivo. 
               Esta função interativa permite que os cidadãos a comunidade!</p>    
       </li>
    
       <li>
           <h1>UM TÍTULO</h1>
           <p>
               Participe do SuperChat do Polidez para enviar perguntas aos candidatos em debates ao vivo. 
               Esta função interolítica em sua comunidade!</p>    
       </li>
    <li>
       <h1>UM NEGÓCIO</h1>
       <p>
           Participe do SuperChat do Polidez para enviar perguntas aos candidatos em debates ao vivo. 
           Esta função interolítica em sua comunidade!</p>    
    </li>
    
       </ul>    
    </section>    
    
    </footer>
</html>
