<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Usuário</title>
    <link rel="stylesheet" href="css/PARTIDOS.css">
    <title>PARTIDOS</title>
</head>
<body id="body">

    <!--inicio do cabeçalho-->
    <%- include("../pages/header-home") %>
    <!--fim do cabeçalho-->

    
      
  

  <link rel="stylesheet" href="PARTIDOS.CSS">
</head>
<body>
  <br>
  <H1 class="papartidos">PARTIDOS</H1>
  <section class="gallery">
    <a href="pagina1.html">
      <img src="./imagem/avante.png" alt="Imagem 1">
      <p>AVANTE</p>
    </a>
    <a href="pagina1.html">
        <img src="./imagem/AGIR.png" alt="Imagem 1">
        <p>AGIR</p>
      </a>
      <a href="pagina1.html">
        <img src="./imagem/CIDADANIA.png" alt="Imagem 1">
        <p>CIDADANIA</p>
      </a>
      <a href="pagina1.html">
        <img src="./imagem/DC.jfif" alt="Imagem 1">
        <p>DC</p>
      </a>
      <a href="pagina1.html">
        <img src="./imagem/MDB.png" alt="Imagem 1">
        <p>MDB</p>
      </a>
      <a href="pagina1.html">
        <img src="./imagem/MOBILIZA.png" alt="Imagem 1">
        <p>MOBILIZA</p>
      </a>
      <a href="pagina1.html">
        <img src="./imagem/PCdoB.png" alt="Imagem 1">
        <p>PC do B</p>
      </a>
      <a href="pagina1.html">
        <img src="./imagem/PCB.png" alt="Imagem 1">
        <p>PCB</p>
      </a>
      <a href="pagina1.html">
        <img src="./imagem/PCO.png" alt="Imagem 1">
        <p>PCO</p>
      </a>
      <a href="pagina1.html">
        <img src="./imagem/PDT.png" alt="Imagem 1">
        <p>PDT</p>
      </a>
      <a href="pagina1.html">
        <img src="./imagem/PL.png" alt="Imagem 1">
        <p>PL</p>
      </a>
      <a href="pagina1.html">
        <img src="./imagem/PODE.png" alt="Imagem 1">
        <p>PODE</p>
      </a>
      <a href="pagina1.html">
        <img src="./imagem/PP.jfif" alt="Imagem 1">
        <p>PP</p>
      </a>
      <a href="pagina1.html">
        <img src="./imagem/PSOL.png" alt="Imagem 1">
        <p>PSOL</p>
      </a>
      <a href="pagina1.html">
        <img src="./imagem/PMB.jfif" alt="Imagem 1">
        <p>PMB</p>
      </a>
      <a href="pagina1.html">
        <img src="./imagem/PRTB.png" alt="Imagem 1">
        <p>PRTB</p>
      </a>
      <a href="pagina1.html">
        <img src="./imagem/PARTVERDE.png" alt="Imagem 1">
        <p>PV</p>
      </a>
      <a href="pagina1.html">
        <img src="./imagem/PSTU.png" alt="Imagem 1">
        <p>PSTU</p>
      </a>
      <a href="pagina1.html">
        <img src="./imagem/PSB.png" alt="Imagem 1">
        <p>PSB</p>
      </a>
      <a href="pagina1.html">
        <img src="./imagem/PSDB.png" alt="Imagem 1">
        <p>PSDB</p>
      </a>
      <a href="pagina1.html">
        <img src="./imagem/PSD.png" alt="Imagem 1">
        <p>PSD</p>
      </a>
      <a href="pagina1.html">
        <img src="./imagem/PRD.jpg" alt="Imagem 1">
        <p>PRD</p>
      </a>
      <a href="pagina1.html">
        <img src="./imagem/PT.png" alt="Imagem 1">
        <p>PT</p>
      </a>
      <a href="pagina1.html">
        <img src="./imagem/REPUBLICANOS.png" alt="Imagem 1">
        <p>REPUBLICANOS</p>
      </a>
      <a href="pagina1.html">
        <img src="./imagem/REDE.png" alt="Imagem 1">
        <p>REDE</p>
      </a>
      <a href="pagina1.html">
        <img src="./imagem/UP.png" alt="Imagem 1">
        <p>UP</p>
      </a>
      <a href="pagina1.html">
        <img src="./imagem/UNIAO.png" alt="Imagem 1">
        <p>UNIÃO BRASIL</p>
      </a>
      
  </section>

</body>
    <!-- Rodapé -->
    <%- include("../pages/footer") %>

</html>
