<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Usuário</title>
    <link rel="stylesheet" href="css/PARTIDOS.css">
    <title>PARTIDOS</title>
</head>
<body id="body">

    <!--inicio do cabeçalho-->
    <%- include("../pages/header-home") %>
    <!--fim do cabeçalho-->
    
<title>PARTIDOS</title>
<H1 class="titulo">PARTIDOS</H1>

  <link rel="stylesheet" href="PARTIDOS.CSS">
</head>
<body>
  <br>
  <H1 class="papartidos">PARTIDOS</H1>
  <section class="gallery">
    <a href="pagina1.html">
      <img src="./imagem/brasilicon.png" alt="Imagem 1">
      <p>Partido 1</p>
    </a>
    <a href="pagina1.html">
        <img src="./imagem/brasilicon.png" alt="Imagem 1">
        <p>Partido</p>
      </a>
      <a href="pagina1.html">
        <img src="./imagem/brasilicon.png" alt="Imagem 1">
        <p>Partido</p>
      </a>
      <a href="pagina1.html">
        <img src="./imagem/brasilicon.png" alt="Imagem 1">
        <p>Partido</p>
      </a>
      <a href="pagina1.html">
        <img src="./imagem/brasilicon.png" alt="Imagem 1">
        <p>Partido</p>
      </a>
      <a href="pagina1.html">
        <img src="./imagem/brasilicon.png" alt="Imagem 1">
        <p>Partido</p>
      </a>
      <a href="pagina1.html">
        <img src="./imagem/brasilicon.png" alt="Imagem 1">
        <p>Partido</p>
      </a>
      <a href="pagina1.html">
        <img src="./imagem/brasilicon.png" alt="Imagem 1">
        <p>Partido</p>
      </a>
      <a href="pagina1.html">
        <img src="./imagem/brasilicon.png" alt="Imagem 1">
        <p>Partido</p>
      </a>
      <a href="pagina1.html">
        <img src="./imagem/brasilicon.png" alt="Imagem 1">
        <p>Partido</p>
      </a>
      <a href="pagina1.html">
        <img src="./imagem/brasilicon.png" alt="Imagem 1">
        <p>Partido</p>
      </a>
      <a href="pagina1.html">
        <img src="./imagem/brasilicon.png" alt="Imagem 1">
        <p>Partido</p>
      </a>
      <a href="pagina1.html">
        <img src="./imagem/brasilicon.png" alt="Imagem 1">
        <p>Partido</p>
      </a>
      <a href="pagina1.html">
        <img src="./imagem/brasilicon.png" alt="Imagem 1">
        <p>Partido</p>
      </a>
      <a href="pagina1.html">
        <img src="./imagem/brasilicon.png" alt="Imagem 1">
        <p>Partido</p>
      </a>
      <a href="pagina1.html">
        <img src="./imagem/brasilicon.png" alt="Imagem 1">
        <p>Partido</p>
      </a>
      <a href="pagina1.html">
        <img src="./imagem/brasilicon.png" alt="Imagem 1">
        <p>Partido</p>
      </a>
      <a href="pagina1.html">
        <img src="./imagem/brasilicon.png" alt="Imagem 1">
        <p>Partido</p>
      </a>
      <a href="pagina1.html">
        <img src="./imagem/brasilicon.png" alt="Imagem 1">
        <p>Partido</p>
      </a>
      <a href="pagina1.html">
        <img src="./imagem/brasilicon.png" alt="Imagem 1">
        <p>Partido</p>
      </a>
      <a href="pagina1.html">
        <img src="./imagem/brasilicon.png" alt="Imagem 1">
        <p>Partido</p>
      </a>
      <a href="pagina1.html">
        <img src="./imagem/brasilicon.png" alt="Imagem 1">
        <p>Partido</p>
      </a>
      <a href="pagina1.html">
        <img src="./imagem/brasilicon.png" alt="Imagem 1">
        <p>Partido</p>
      </a>
      <a href="pagina1.html">
        <img src="./imagem/brasilicon.png" alt="Imagem 1">
        <p>Partido</p>
      </a>
      <a href="pagina1.html">
        <img src="./imagem/brasilicon.png" alt="Imagem 1">
        <p>Partido</p>
      </a>
      <a href="pagina1.html">
        <img src="./imagem/brasilicon.png" alt="Imagem 1">
        <p>Partido</p>
      </a>
      <a href="pagina1.html">
        <img src="./imagem/brasilicon.png" alt="Imagem 1">
        <p>Partido</p>
      </a>
      <a href="pagina1.html">
        <img src="./imagem/brasilicon.png" alt="Imagem 1">
        <p>Partido</p>
      </a>
      <a href="pagina1.html">
        <img src="./imagem/brasilicon.png" alt="Imagem 1">
        <p>Partido</p>
      </a>
  </section>

</body>
    <!-- Rodapé -->
    <%- include("../pages/footer") %>

</html>
