<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/pco.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
        </style>
    <title>Perfil PCO</title>
</head>
<body>
    <section class="about" id="about">
        <section class="about-img">
            <img src="../imagem/PCO.png" alt="">
        </section>

        <section class="about-content">
            <h1>Partido <span>da Causa Operária</span></h1>
            <p>O Partido da Causa Operária (PCO) é um partido político brasileiro de extrema-esquerda, historicamente, trotskista. Suas cores são o vermelho e o amarelo e seu número eleitoral é o 29. Foi fundado em 1995 por dissidentes da Causa Operária (CO) filiados ao Partido dos Trabalhadores (PT), e seu presidente é desde então o jornalista Rui Costa Pimenta.
                No movimento sindical milita na Central Única dos Trabalhadores (CUT). No seu símbolo constam três heráldicas socialistas: a foice e o martelo, que representam a classe trabalhadora (o trabalho agrícola e o trabalho industrial, respectivamente), e a engrenagem. O partido possui um jornal diário digital (Diário Causa Operária), um jornal impresso semanal (Jornal Causa Operária) e um canal no YouTube (Causa Operária TV). Em abril de 2024, o partido possuía 7.017 filiados.</p>
            <a href="https://pco.org.br/" class="btn">Conheça-os!</a>
        </section>
    </section>

    <section class="card-container">
        <section class="card">
            <img src="../imagem/card1.jpg">
            <section class="card-content">
                <h3>Notícias</h3>
                <p>Acompanhe as notícias do partido PCO apertando o botão abaixo.</p>
                <a href="https://jornal.causaoperaria.org.br/" class="btn1">Ler mais</a>
            </section>
        </section>
        <section class="card">
            <img src="../imagem/card2.jpg">
            <section class="card-content">
                <h3>Políticos</h3>
                <p>Confira aqui os políticos que fazem parte do partido PCO.</p>
                <a href="" class="btn1">Ler mais</a>
            </section>
        </section>
    </section>
</body>
</html>