<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Perfil Candidato</title>
    <link rel="stylesheet" href="../css/perfilcandidado.css"/>
  </head>
  <body>
     <!--inicio do cabeçalho-->
     <%- include("../pages/header-home") %>
     <!--fim do cabeçalho-->
     <!--INICIO DO CORPO-->
    <section class="header__wrapper">   

    </section>
      <section class="container">
        <section class="container_2">
          <section class="img__container">
            <img src="./imagem/fotoperfil.png"/>
            <span></span>
          </section>
          <h2>Seu nome</h2>
          <p>Insira sua candidatura.</p>
          <p>Insira seu e-mail</p>

          <ul class="sobre">
            <li><span>0</span>Seguidores</li>
            <li><span>0</span>Seguindo</li>
            <li><span>0</span>Lives</li>
          </ul>

          <section class="content">
            <p>
              Escreva uma breve descrição sobre você.
            </p>
            
          </section>
        </section>
        <section class="content_3">
          <nav>
            <ul>
              <li><a href="#">Publicações</a></li>
              <li><a href="#">Lives</a></li>
            </ul>

            <bottom class="editar_botao">Seguir</bottom>
  
          </nav>

          <section class="fotos">
            <img src="imagem/aviso.png" alt="fotos" />
          </section>
        </section>
      </section>
  </body>
</html>
