<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de <%= logado.nome %></title>
</head>
<body>
    <% if (logado.tipo === 'politico') { %>
        <%- include('../partial/template-perfil-politico') %>
    <% } else { %>
        <%- include('../partial/template-perfil-eleitor') %>
    <% } %>
</body>
</html>