<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/pmb.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
        </style>
    <title>Perfil PMB</title>
</head>
<body>
    <section class="about" id="about">
        <section class="about-img">
            <img src="../imagem/PMB.jfif" alt="">
        </section>

        <section class="about-content">
            <h1>Partido da <span>Mulher Brasileira</span></h1>
            <p>Partido da Mulher Brasileira (PMB) é um partido político brasileiro de centro-direita. Foi fundado em 2008 e obteve registro definitivo pelo Tribunal Superior Eleitoral (TSE) em 29 de setembro de 2015, adotando o número eleitoral 35. A renomeação do partido para Brasil 35 chegou a ser anunciada em convenção a fim de atrair o presidente Jair Bolsonaro, que estava sem partido. O pedido quase chegou a ser aceito, mas foi negado pelo TSE em março de 2022 e o partido manteve sua designação original. Em janeiro de 2024 possuía 47.874 filiados.</p>
            <a href="https://pmb.org.br/#" class="btn">Conheça-os!</a>
        </section>
    </section>

    <section class="card-container">
        <section class="card">
            <img src="../imagem/card1.jpg">
            <section class="card-content">
                <h3>Notícias</h3>
                <p>Acompanhe as notícias do partido PMB apertando o botão abaixo.</p>
                <a href="" class="btn1">Ler mais</a>
            </section>
        </section>
        <section class="card">
            <img src="../imagem/card2.jpg">
            <section class="card-content">
                <h3>Políticos</h3>
                <p>Confira aqui os políticos que fazem parte do partido PMB.</p>
                <a href="" class="btn1">Ler mais</a>
            </section>
        </section>
    </section>
</body>
</html>