<!DOCTYPE html>
<!-- Coding By CodingNepal - youtube.com/codingnepal -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Publicação</title>
    <link rel="stylesheet" href="css/postnovo.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FontAweome CDN Link for Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  </head>
  <body>
    <div class="container">
      <div class="wrapper">
        <section class="post">
          <header>Criar publicação</header>
          <form action="#">
            <div class="content">
              <img src="../imagem/LOGO.png" alt="logo">
              <div class="details">
                <p>POLI<span>DIZ</span></p>
                
              </div>
            </div>
            <textarea placeholder="Digite aqui" spellcheck="false" required></textarea>
            <div class="theme-emoji">
            </div>
            <div class="options">
              <p>Adicionar à publicação</p>
              <ul class="list">
                <li><img src="imagem/icons8-galery-64.png" alt="gallery"></li>
              </ul>
            </div>
            <button>Post</button>
          </form>
        </section>
    
  </body>
</html>