<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publicar</title>
    <link rel="stylesheet" href="../css/postar_foto.CSS">
</head>
<body>
    <form action="/postarFoto/<%= logado.id %>" enctype="multipart/form-data" method="post">
      <input type="file" name="foto" multiple id="fileInput" style="display: block;">
      <input type="text" id="title-input" name="titulo" placeholder="Digite o título">
      <button type="submit" class="button_postar"id="post-button">Postar</button>
      <!--<section class="container">
          <section id="step-1" class="step">
              <h1>Escolha os arquivos</h1>
              
              <input type="file" id="file-input" multiple accept="image/*" name="foto" style="display: block;visibility: visible; opacity: 1;">
              <section id="preview-container"></section>
              <button type="button" class="avancar" id="advance-step"> Avançar</button>
          </section>
      
          <section id="step-2" class="step hidden">
              <h1>Escreva o título da publicação</h1>
              <section id="preview-container-step2"></section>
              <input type="text" id="title-input" name="titulo" placeholder="Digite o título">
              <button type="submit" class="button_postar"id="post-button">Postar</button>
          </section>
      </section>-->
    </form>

    <script src="../js/postar_foto.JS"></script>
</body>
</html>
