<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notícia</title>
    <link rel="stylesheet" href="noticia_aberta.css">
</head>
<body>
<section class="tudo">
    <section class="container">
        <header class="header">
            <h1 class="title">Post de<span class="name"> Cristian Alberto</span></h1>
        </header>
        <main class="content">
            <section class="news-header">
               
                <p class="news-meta">Publicado em 13/10/2024 às 13:34</p>
            </section>
            <img src="praça.jpg" alt="Lula em Fortaleza" class="news-image">
            <p class="intro">Engenho Novo, Barueri – Um novo ponto de lazer está prestes a ser 
                inaugurado no bairro do Engenho Novo, em Barueri. A Praça do Engenho Novo, com 
                previsão de abertura ainda este ano, promete ser um verdadeiro refúgio de lazer
                e convivência para os moradores da região. Com um projeto que visa a valorização 
                do espaço público e a criação de um ambiente de convivência, a praça foi idealizada 
                pela Prefeitura de Barueri, com um investimento de R$ 5 milhões. Com uma área de 
                15.000 metros quadrados, a nova praça será um espaço multifuncional, oferecendo 
                opções de lazer e descanso para todas as idades. Entre os principais atrativos 
                estão um grande campo gramado, áreas de convivência com bancos e pergolados, uma 
                pista de caminhada, playground para crianças e equipamentos de ginástica ao ar livre.
            </p>

        </main>
    </section>



    <section class="anuncio">
      
        <img src="anuncio.gif"  class="conteudo_anuncio">
        <img src="anuncio3.png"  class="conteudo_anuncio">

    </section>
</section>
    
</body>
</html>
