<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/prtb.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
        </style>
    <title>Perfil PRTB</title>
</head>
<body>
    <section class="about" id="about">
        <section class="about-img">
            <img src="../imagem/PRTB.png" alt="">
        </section>

        <section class="about-content">
            <h1>Partido <span>Renovador Trabalhista Brasileiro</span></h1>
            <p>O Partido Renovador Trabalhista Brasileiro (PRTB) é um partido político brasileiro fundado em 1994 e registrado definitivamente em 1997. Conforme o programa divulgado no site do partido, a principal bandeira ideológica é o "trabalhismo participativo", no qual o capital possa interagir com o trabalho e estabelecer interesses mútuos, em vez de explorar o trabalho. Apesar disso, o partido apresenta-se como conservador no aspecto cultural e liberal economicamente, sendo próximo à direita e à extrema-direita. Em abril de 2024 o partido possuía 147.958 filiados.</p>
            <a href="https://prtb.org.br/" class="btn">Conheça-os!</a>
        </section>
    </section>

    <section class="card-container">
        <section class="card">
            <img src="../imagem/card1.jpg">
            <section class="card-content">
                <h3>Notícias</h3>
                <p>Acompanhe as notícias do partido PRTB apertando o botão abaixo.</p>
                <a href="https://prtb.org.br/home/outras-noticias/" class="btn1">Ler mais</a>
            </section>
        </section>
        <section class="card">
            <img src="../imagem/card2.jpg">
            <section class="card-content">
                <h3>Políticos</h3>
                <p>Confira aqui os políticos que fazem parte do partido PRTB.</p>
                <a href="" class="btn1">Ler mais</a>
            </section>
        </section>
    </section>
</body>
</html>