<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/pv.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
        </style>
    <title>Perfil PV</title>
</head>
<body>
    <section class="about" id="about">
        <section class="about-img">
            <img src="../imagem/PARTVERDE.png" alt="">
        </section>

        <section class="about-content">
            <h1>Partido <span>Partido Verde</span></h1>
            <p>O Partido Verde (PV) é um partido político brasileiro de centro-esquerda fundado em 1986 e registrado oficialmente em 1993. Seu código eleitoral é o número 43, seu símbolo é um V e suas cores são o verde e o branco. Defende o desenvolvimento sustentável, a diminuição da desigualdade social, o federalismo, o parlamentarismo, a democracia direta, uma reforma agrária ecológica, imposto de renda negativo, democratização da mídia e o poder local. Em julho de 2024 o partido possuía 351.047 filiados. Surgiu no cenário político da década de 1980 baseado nas tendências ambientalistas, tendo entre seus articuladores artistas, intelectuais, ativistas, ecologistas, escritores, jornalistas e também por ex-exilados políticos. Participaram neste grupo: Fernando Gabeira, Lucélia Santos, Alfredo Sirkis, John Neschling, Lúcia Veríssimo, Luiz Alberto Py, Carlos Minc, Herbert Daniel e Guido Gelli. Em 18 de abril de 2022, o Partido Verde (PV), o Partido dos Trabalhadores (PT) e o Partido Comunista do Brasil (PCdoB) anunciaram a criação da Federação Brasil da Esperança.</p>
            <a href="https://pv.org.br/" class="btn">Conheça-os!</a>
        </section>
    </section>

    <section class="card-container">
        <section class="card">
            <img src="../imagem/card1.jpg">
            <section class="card-content">
                <h3>Notícias</h3>
                <p>Acompanhe as notícias do partido PV apertando o botão abaixo.</p>
                <a href="https://pv.org.br/noticias/" class="btn1">Ler mais</a>
            </section>
        </section>
        <section class="card">
            <img src="../imagem/card2.jpg">
            <section class="card-content">
                <h3>Políticos</h3>
                <p>Confira aqui os políticos que fazem parte do partido PV.</p>
                <a href="" class="btn1">Ler mais</a>
            </section>
        </section>
    </section>
</body>
</html>