<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <link rel="stylesheet" type="text/css" href="tipo_de_publicação.css">
    <title>Tipo de postagem</title>
    <meta charset="utf-8">
  </head>
  <body>

    <section class="tudo">
    <button type="submit" class="button_postar" id="post-button">Postar</button>
<button type="submit" class="button_postar" id="post-button">Postar</button>
<button type="submit" class="button_postar" id="post-button">Postar</button>
</section>

 </body>
</html>
